@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter), sans-serif;
  background: #ffffff;
  color: #000000;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
